@font-face {
    font-family: 'Casual';
    src: url('Casual-Regular.woff2') format('woff2'),
        url('Casual-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
